

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ genre.name }} Details</title>
</head>
<body>
    <h1>{{ genre.name }} Details</h1>
    <p>Description: {{ genre.description }}</p>
    <h2>Movies in this Genre:</h2>
    <ul>
        {% for movie in movies %}
            <li><a href="{% url 'movie_detail' pk=movie.pk %}">{{ movie.title }}</a></li>
        {% endfor %}
    </ul>
</body>
</html>
